body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.right {
  flex: 1;
  background-color: #3c79f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Menyesuaikan lebar maksimum form */
  width: 100%; /* Menyamakan lebar form dengan lebar maksimum */
  margin: 0 auto; /* Memusatkan form di tengah */
}

.right h2 {
  margin: 0 0 20px;
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.forget-passworld {
  margin-top: 5px;
}
